{% extends "base.html" %}
{% load staticfiles %}
{% load emarkdown %}
{% load date %}
{% load interventions %}
{% load topbar %}
{% load thumbnail %}



{% block body_class %}home content-cols{% endblock %}



{% block pre_content %}
    {% if user.is_authenticated %}
        <div class="row pre_content_quote">
            <div class="columns large-9 large-offset-3">
                <p class="clem_citation">
                    «&nbsp;{{ quote }}&nbsp;»
                </p>
            </div>
        </div>
        <div class="row pre_content">
            <div class="columns large-3" style="text-align: center; position: relative;">
                <p>
                    Tu cherches quelque chose ?
                </p>
                <img src="http://zestedesavoir.com/static/images/clem-home-quote.png" alt="" width="39" height="80" style="position: absolute; top: -80px;">
            </div>
            <div class="columns large-9">
                <form action="/rechercher" class="home-wrapper" style="position: relative;">
                    <input type="text" name="q" placeholder="Exemples : HTML, Java, PHP, Jeux Vidéos, Mathématiques, ..." id="search-box-field">
                    <button type="submit" class="ico-after search-submit small" title="Lancer la recherche" style="position: absolute; top:0; right:0;">
                        OK
                    </button>
                </form>
                </div>
            </div>
        </div>
    {% else %}
        <section class="home-quote home-full-description">
            <div class="home-wrapper">
                <img src="{% static "images/clem-home.png" %}" alt="" width="214" height="209">
                <div class="home-full-description-text">
                    <h2>{{app.site.slogan}}</h2>

                    <blockquote>
                        «&nbsp;{{ quote }}&nbsp;»
                    </blockquote>

                    <p>
                        {{app.site.litteral_name}} est un site de <strong>partage de connaissances</strong> sur lequel vous trouverez des <a href="{% url 'zds.tutorial.views.index' %}">tutoriels de tous niveaux</a>, des <a href='{% url "zds.article.views.index" %}'>articles</a> et des <a href='{% url "zds.forum.views.index" %}'>forums d'entraide</a> animés par et pour la communauté. Les sujets abordés sont, pour l'instant, l'informatique et les sciences, mais nous n'attendons que vous pour élargir les domaines présentés !
                    </p>
                    <p>
                        Tous les membres peuvent écrire et <strong>publier des tutoriels et articles sur le site</strong>. Pour assurer la qualité et la pédagogie du contenu, l'équipe du site valide chaque cours avant publication.
                    </p>
                    {% if app.site.association %}
                    <p>
                        Tout cela est <strong>entièrement gratuit et garanti sans publicité</strong>, le site est géré et financé par une <a href="{% url 'zds.pages.views.association' %}">association</a> à but non lucratif.
                    </p>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}

<hr />

{% endblock %}



{% block content_out %}
    <div class="columns large-6">
        <h2 class="ico-after ico-articles" itemprop="name">
            Derniers articles
        </h2>

        <meta itemprop="itemListOrder" content="Descending">

        {% for article in last_articles %}
            <article>
                <div class="row">
                    {% if article.image %}
                        <div class="columns large-3">
                            <a href="{{ article.get_absolute_url_online }}" tabindex="-1">
                                <img src="{{ article.image }}" alt="" class="tutorial-img avatar">
                            </a>
                        </div>
                    {% endif %}
                    <div class="columns large-9 tutorial-infos {% if not article.image %}no-illu{% endif %}">
                        <h3>
                            <a href="{{ article.get_absolute_url_online }}" title="{{ article.title }}" itemprop="itemListElement">
                                {{ article.title }}
                            </a>
                        </h3>

                        <span class="article-metadata">
                            {{ article.pubdate|format_date|capfirst }} -
                            <a href="
                                {% if article.last_read_reaction %}
                                    {{ article.last_read_reaction.get_absolute_url }}
                                {% else %}
                                    {{ article.get_absolute_url_online }}#reactions
                                {% endif %}
                            ">
                                {% if article.get_reaction_count == 0 %}
                                    Aucune réaction
                                {% else %}
                                    {{ article.get_reaction_count }} réaction{{ article.get_reaction_count|pluralize }}
                                {% endif %}
                            </a>
                        </span>
                     </div>
                </div>
                <div class="row">
                   <div class="columns large-12">
                        <p class="resume">
                            {{ article.description }}
                        </p>
                    </div>
                </div>
            <hr/>
            </article>
        {% endfor %}
    </div>

    <div class="columns large-6">
        <h2 class="ico-after ico-tutorials" itemprop="name">
            Derniers tutoriels
        </h2>

        <meta itemprop="itemListOrder" content="Descending">

        {% for tutorial in last_tutorials %}
            {% include 'tutorial/includes/tutorial_item.part.html' %}
        {% endfor %}
    </div>
{% endblock %}



{% block sidebar %}
    <aside class="sidebar">

        <h2>Catégories de tutoriels</h2>

        <div class="section-container accordion" data-section="accordion">
            {% with top=user|top_categories %}
                {% for title, forums in top.categories.items %}
                    <section>
                        <p class="title" data-section-title><a href="#panel{{ forloop.counter }}">{{ title }}</a></p>
                        <div class="content" data-section-content>
                            <ul>
                                {% for forum in forums %}
                                    <li>
                                        <a href="#">
                                            {{ forum.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                {% endfor %}
            {% endwith %}
        </div>

    </aside>
{% endblock %}
